# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg

# Ambiente virtual
venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testes / temporarios
teste_*.png
*.log

# Ficheiros do sistema
Thumbs.db
.DS_Store
